.container
  -if @employee.photo
    %h2 Photo
    .img.centered-text{style: circular(@employee.photo.file.url(:medium))}

  %div{role: 'tabpanel'}
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        =link_to "Details", "#home", "data-toggle" => "tab"
      %li{role: 'presentation'}
        =link_to "Documents", "#documents", "data-toggle" => "tab"
  .tab-content
    #home.tab-pane.active
      %ul
        %li
          Name: 
          =@employee.name
        %li
          License:
          =@employee.licence
        %li
          Sexual orientation:
          =@employee.sexual_orientation
        %li
          Birthday:
          =@employee.birthday
        %li
          Address:
          =@employee.address
        %li
          Subscription:
          =@employee.created_at.to_s(:short)
    #documents.tab-pane
      %table
        %tbody
          -@employee.documents.each do |document|
            %tr
              %td=link_to document.file_file_name, document.file.url
  = link_to 'Edit', edit_admin_employee_path(@employee)
  = link_to 'Back', admin_employees_path