=content_for :page_title do
  Listing scammers
  =surround '(',')' do 
    =Scammer.count

=content_for :title do
  Scammers index page

=content_for :page_subtitle do
  Here you can browse through the list of scammer already validated.

%table.table.datatable
  %thead
    %th Name
    %th Licence
    %th Sexual Orientation
    %th Birthday
    %th Actions
  %tbody
    - @scammers.each do |scammer|
      %tr
        %td=scammer.name
        %td=scammer.licence
        %td=scammer.sexual_orientation
        %td=scammer.birthday
        %td
          %a{href: admin_scammer_path(scammer), title: "Show"}
            %i.glyphicon.glyphicon-zoom-in
          %a{href: edit_admin_scammer_path(scammer), title: "Edit"}
            %i.glyphicon.glyphicon-pencil
          %a{href: admin_scammer_images_path(scammer), title: "Upload photo"}
            %i.glyphicon.glyphicon-camera
          %a{href: admin_scammer_documents_path(scammer), title: "Upload files"}
            %i.glyphicon.glyphicon-cloud-upload
          %a{href: admin_scammer_path(scammer), "data-method" => "delete", title: "Delete"}
            %i.glyphicon.glyphicon-trash

