.container
  %p{id: "notice"}
    =notice
  -if @scammer.photo
    %h2 Photo
    .img.centered-text{style: circular(@scammer.photo.file.url(:medium))}

  %div{role: 'tabpanel'}
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        =link_to "Details", "#home", "data-toggle" => "tab"
      %li{role: 'presentation'}
        =link_to "Documents", "#documents", "data-toggle" => "tab"
  .tab-content
    #home.tab-pane.active
      %ul
        %li
          Name: 
          =@scammer.name
        %li
          License
          =@scammer.licence
        %li
          Sexual orientation
          =@scammer.sexual_orientation
        %li
          Birthday
          =@scammer.birthday
        %li
          Address
          =@scammer.address
        %li
          Subscription
          =@scammer.created_at.to_s(:short)
    #documents.tab-pane
      %table
        %tbody
          -@scammer.documents.each do |document|
            %tr
              %td=link_to document.file_file_name, document.file.url
  = link_to 'Edit', edit_admin_scammer_path(@scammer)
  = link_to 'Back', admin_scammers_path